@model WebComponent.Models.PriceFormModel

@{
    ViewBag.Title = "Index";
}

<div>
    <form action="/Coverage" method="post">
        <br />
        <label>Choisissez une fréquence de rebalancement :</label>
        <br />
        <input type="number" name="Freq" />
        <br />
        <label>Choisissez une fenêtre d'estimation :</label>
        <br />
        <input type="number" name="EstimationWindow" />
        <br />
    </form>
    <input type="submit" value="Me Couvrir" />
</div>
<br />

<div class="row">
    <div class="col-xl-8 mb-5 mb-xl-0">
        <div class="card bg-gradient-default shadow">
            <div class="card-header bg-transparent">
                <div class="row align-items-center">
                    <div class="col">
                        <h2 class="text-white mb-0">Couverture du produit Kanji</h2>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="chart">
                    <div class="chartjs-size-monitor">
                        <div class="chartjs-size-monitor-expand">
                            <div class=""></div>
                        </div>
                        <div class="chartjs-size-monitor-shrink">
                            <div class=""></div>
                        </div>
                    </div>
                    <script>
                        window.onload = function () {

                        var chart = new CanvasJS.Chart("chartContainer", {
	                        animationEnabled: true,
	                        axisY: {
		                        includeZero: false
	                        },
	                        toolTip: {
		                        shared: true
	                        },
	                        data: [{
		                        type: "line",
		                        name: "Kanji",
		                        showInLegend: true,
		                        dataPoints: @Html.Raw(ViewBag.PrixKanji)
	                        }, {
		                        type: "line",
		                        name: "Portefeuille de couverture",
		                        showInLegend: true,
		                        dataPoints: @Html.Raw(ViewBag.CouvertureKanji)
	                        }]
                        });
                        chart.render();

                        }
                    </script>
                    <div id="chartContainer" style="height: 370px; width: 100%;"></div>
                    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
                </div>
            </div>
        </div>
    </div>
</div>
