@model WebComponent.Models.DateFormModel

@{
    ViewBag.Title = "Index";
}

@using (Ajax.BeginForm("Index", "Home", new AjaxOptions { UpdateTargetId = "userDate" }))
{
    <div id="userDate"></div>
    @Html.Label("Entrez la date où vous voulez vous situer :")
    <br />
    @Html.EditorFor(model => model.DesiredDate, new { @type = "date" })
    <button>Valider</button>
    <span style="color:red">@ViewBag.MessageEr</span>
}
@if (ViewBag.Posted)
{
    <script>
        console.log("@ViewBag.DesiredDate")
    </script>
}
