<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KanjiPEPS</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/css/all.css" />
    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!-- Site's CSS -->
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="bg-light">
    <nav id="sidenav-main" class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand pt-0">
                <i class="fas fa-airbnb"></i>
                <span>KANJI</span>
            </a>
        </div>
    </nav>
    <div class="main-content">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
